@tailwind base;
@tailwind components;
@tailwind utilities;
.btn.flat {
  @apply text-white bg-yellow-500;
}
.btn.flat:hover {
  @apply bg-yellow-600;
}
.btn.flat:active {
  @apply bg-yellow-700;
}
.btn.flat:disabled {
  @apply text-yellow-400 bg-yellow-100;
}
.btn.outline {
  @apply border-yellow-400 text-yellow-400;
}
.btn.outline:hover {
  @apply border-yellow-600 text-yellow-600;
}
.btn.outline:active {
  @apply border-yellow-600 text-yellow-600;
}
.btn.outline:disabled {
  @apply border-yellow-200 text-yellow-200;
}
.btn.bezel {
  @apply text-white from-yellow-500 to-yellow-600 bg-gradient-to-r;
}
.btn.bezel:hover {
  @apply from-yellow-600 to-yellow-700 bg-gradient-to-r;
}
.btn.bezel:active {
  @apply from-yellow-700 to-yellow-800 bg-gradient-to-r;
}
.btn.bezel:disabled {
  @apply border-yellow-200 text-yellow-400;
}

.card {
  @apply bg-[white] w-full md:w-4/5 flex flex-col justify-center items-center p-[2em] md:rounded-[0.5em];
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.card .card__image {
  @apply w-full h-[200px] object-cover rounded-[0.5em];
}
.card .card__content {
  @apply p-[1em];
}
.card .card__footer {
  @apply w-full flex justify-between items-center mt-[1em];
}
.card .card__footer button {
  @apply w-full;
}

form label {
  @apply text-center block;
}
form input {
  @apply bg-gray-100;
}

@layer base {
  html {
    @apply bg-white;
  }
  body {
    @apply bg-gray-100 scroll-auto min-h-screen;
  }
  #root {
    @apply w-full min-h-screen bg-gray-100 font-sans text-black;
  }
  #root .row {
    @apply flex;
  }
  #root .col {
    @apply flex flex-col;
  }
  #root .recipe-instructionContent {
    counter-reset: counter;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.5px;
  }
  #root .recipe-instructionContent ol {
    list-style-type: none;
    padding-left: 0;
  }
  #root .recipe-instructionContent ol li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 30px;
  }
  #root .recipe-instructionContent ol li:before {
    content: counter(counter);
    counter-increment: counter;
    position: absolute;
    left: 0;
    font-variation-settings: "wght" 600;
    @apply text-yellow-500;
  }
  #root .recipe-ingredientsContent {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.5px;
  }
  #root .recipe-ingredientsContent ul {
    list-style-type: none;
    padding-left: 0;
  }
  #root .recipe-ingredientsContent ul li {
    position: relative;
    padding: 0 0 10px 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e9ecf3;
  }
  #root .recipe-ingredientsContent button {
    display: flex;
    padding: 0 !important;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50% !important;
    background: linear-gradient(135.74deg, #ffffff, #ffffff);
    box-shadow: 1px 2px 3px rgba(157, 170, 177, 0.5);
    overflow: hidden;
    outline: 0;
  }
  #root .recipe-adviceContent p {
    margin-bottom: 0;
  }
  #root .recipe-ratingContent {
    background-color: rgba(249, 232, 114, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    width: 100%;
  }
  #root .recipe-ratingContent .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #f9e872 0%, #f9e872 50%, #f9e872 100%);
    z-index: -1;
  }
  #root .card__shadow {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    line-height: 1.5rem;
  }
  .error {
    @apply text-red-500;
  }
  #main-menu {
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
    z-index: 11;
    @apply fixed top-10 left-0 h-full bg-white shadow-lg pt-5;
  }
  #main-menu.open {
    transform: translateX(0);
  }
  .main-menu-items {
    @apply cursor-pointer flex items-center justify-between font-medium text-lg border-b border-b-black;
  }
  .animate-bounce-light {
    animation: bounce-light 300ms infinite alternate;
  }
  @keyframes bounce-light {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
}
@layer components {
  .card {
    padding: 2em;
  }
  .navbar {
    @apply bg-white text-yellow-950 shadow-md;
    position: relative;
    z-index: 9999;
  }
}
@layer utilities {
  .effect-grew {
    @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300;
  }
  .effect-rotate180 {
    @apply transition ease-in-out delay-150 hover:rotate-180 duration-300;
  }
}

/*# sourceMappingURL=App.css.map */
