@tailwind base;
@tailwind components;
@tailwind utilities;

@import "style/Button";
@import "style/Card";
@import "style/Form";

@layer base {
  html {
    @apply bg-white;
  }
  body {
    @apply bg-gray-100 scroll-auto min-h-screen;
  }

  #root {
    @apply w-full min-h-screen bg-gray-100 font-sans text-black;
    .row {
      @apply flex;
    }
    .col {
      @apply flex flex-col;
    }

    .recipe-instructionContent {
      counter-reset: counter;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: -.5px;
      ol {        list-style-type: none;
        padding-left: 0;
        li {
          position: relative;
          padding-left: 25px;
          margin-bottom: 30px;
          &:before {
            content: counter(counter);
            counter-increment: counter;
            position: absolute;
            left: 0;
            font-variation-settings: "wght" 600;
            @apply text-yellow-500;
          }
        }
      }
    }

    .recipe-ingredientsContent {
      font-size: 18px;
      line-height: 27px;
      letter-spacing: -.5px;
      ul {
        list-style-type: none;
        padding-left: 0;
        li {
          position: relative;
          padding: 0 0 10px 10px;
          margin-bottom: 30px;
          border-bottom: 1px solid #e9ecf3;
        }
      }
      button{
        display: flex;
        padding: 0 !important;
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 50% !important;
        background: linear-gradient(135.74deg, #ffffff, #ffffff);
        box-shadow: 1px 2px 3px rgba(157,170,177,.5);
        overflow: hidden;
        outline: 0;
      }
    }

    .recipe-adviceContent{
      p{
        margin-bottom: 0;
      }
    }

    .recipe-ratingContent{
      background-color: rgba(249, 232, 114, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      overflow: hidden;
      padding: 20px;
      width: 100%;
      .content::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, #f9e872 0%, #f9e872 50%, #f9e872 100%);
        z-index: -1;
      }
    }

    .card__shadow{
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
      position: relative;
      line-height: 1.5rem;
    }

  }

  .error {
    @apply text-red-500;
  }

  #main-menu{
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
    z-index: 11;
    @apply fixed top-10 left-0 h-full bg-white shadow-lg pt-5;
  }
  #main-menu.open{
    transform: translateX(0);
  }

  .main-menu-items{
    @apply cursor-pointer flex items-center justify-between font-medium text-lg border-b border-b-black ;
  }

}

@layer components {
  .card {
    padding: 2em;
  }

  .navbar {
    @apply bg-white text-yellow-950 shadow-md;
    position: relative;
    z-index: 9999;
  }
}

@layer utilities {
  .effect{
    &-grew{
      @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300;
    }
    &-rotate180{
      @apply transition ease-in-out delay-150 hover:rotate-180 duration-300;
    }
  }
}


